/*

IMPORT

*/


@import "reset.css";
@import "general.css";
@import "colors.css";



/*

HEADER

*/

.header-main-content{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1.25rem;
    align-items: center;
}

.header-main-content .nav-container{
    display: none;
}

.header-main-content .nav-container ul{
    list-style: none;
    display: flex;
}

.header-main-content .nav-container ul li a{
    display: inline-block;
    text-decoration: none;
    padding:.625rem;
    color: white;
}

.nav-button{
    background-color: white;
    padding: .625rem;
    border-radius: 3.125rem;
}

header .container .header-main-content .nav-container ul li .nav-button > a{
    color: black;
}

/*

MAIN

*/

main .first-section{
    padding: 2.5rem 2.5rem;
}



.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.625rem;
}

.card{
    width:calc(100% - 1.25rem);
    margin: 0 .625rem 1.25rem;
    text-align: center;

}

.card > .main-card-content{
    padding: .625rem;
}

.strategic-planning{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3.125rem;
    color: white;

}

.testimonials{
    text-align: center;
    padding: .625rem;
    line-height: 1.875rem;
    padding: 1.875rem;
}

.testimonials > h4{
    margin: 1.625rem 0;
    font-size: 1.875rem;
}


.profiles-container{
    padding: .625rem;
    width: 70%;
    margin: 0 auto;
}


.profile{
    margin: .625rem 0;
    color: white;
}

.testimonials > h3{
    color: white;
}

main .second-section .benefits .cards .card{
    background-color: white;
}

.about-us{
    display: flex;
    flex-wrap: wrap;
    width:65% ;
    margin: 0 auto;
    justify-content: space-between;
}

.get-started{
    margin: 0 auto;
    text-align: center;
    padding: 1.25rem;

}

.footer-links{
    background-color: black;
    color: white;
    padding: 3.125rem;
    text-align: center  ;
}

.main-button{
    border-radius: 3.125rem;
    color: white;
    padding: .3125rem    ;
    width: 12.5rem;
    text-align: center;
}

.main-button > *{
    margin: .3125rem;
    display: inline-block;
}

.main-card-content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    text-align: justify;

}

.main-card-content div img{
    width: 12.5rem;
    height: 12.5rem;
    margin-bottom: -15px;
    margin-top: .625rem;
}

.text-block > p {
    margin: 2.1875rem 0;
}

.small-card-content{
    text-align: center;
    padding: 2.25rem;
}

.small-card-content > h4{
    margin: 1.25rem 0;
}

.small-card-content > i{
    font-size: 3.125rem;
}



.strategic-planning div img{
    width: 15rem;
    height: 15rem;
}



.first-planning-box > *{
    margin: 1.25rem 0;
}



.second-planning-box{
    background-color: white;
    border-radius:1.125rem;
    color: black;
    text-align: center;
}

.second-planning-box > *{
    margin: 1.25rem 0;
}

.second-planning-box > i{
    font-size: xx-large;
}

.second-planning-box > p{
    font-style: oblique;
}

.profiles-container .profile{
    text-align: center;
    line-height: 1.5625rem;
    border-radius:1.5625rem;
    padding: .625rem;
}

.profiles-container .profile > img{
    border-radius: 50%;
    width: 9.75rem;
    height: 9.0625rem;
}

main .second-section .benefits .cards .card{
    line-height: 1.25rem;
    padding: 1.875rem;
    text-align: justify;
    border-radius:1.125rem;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
}

main .second-section .benefits .cards .card > p,h4{
    margin: 1.625rem 0;
}

main .second-section .benefits .cards .card > h1{
    font-size: 3.125rem;
}

main .second-section .benefits .cards .card > h4{
    font-size: 1.875rem;
}

.card > span{
    border-radius:1.125rem;
    padding: .625rem;
    display: inline-block;
    width: 9.375rem;
    color: white;
    text-align: center;
}

.about-us{
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    line-height: 2.1875rem;
}

.about-us > h1{
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
}

.about-us > p{
    margin: 1.25rem 0;
}

.about-us > img{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
}

.strong{
    font-size: 1.25rem;
}

.about-us > span{
    border-radius:1.125rem;
    display: inline-block;
    width: 62.5rem;
    color: white;
    text-align: center;
}





/*

FOOTER

*/





/*

MEDIA QUERY

*/



/* Tablet  */

@media screen and (min-width:768px) {  
    /*

    HEADER

    */

    .main-card-content{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        text-align: justify;
    }



    /*

    MAIN

    */
    .card{
        width: calc((100% / 3) - 1.25rem);
    }

    .card:first-child{
        width: calc(((100% / 3) * 2) - 1.25rem);
    }

    main .second-section .benefits .cards{
        padding: 1.125rem;
        justify-content: space-around;
    }

    main .second-section .benefits .cards .card{
        width: calc((100% / 2) - 1.25rem);
    }


    .small-card-content{
        height: 100%;
        font-size: 1.25rem;
    }

    main .second-section .container .strategic-planning div > img{
        width: 40rem;
        height: 40rem;
    }

    main .second-section .container .strategic-planning .first-planning-box > h2{
        font-size: 4.375rem;
    }


    .about-us{
        width: 100%;
        padding: 3.125rem;
        flex-wrap: nowrap;
        align-items: center;
    }

    .get-started{
        margin: 0 auto;
        text-align: center;
        padding: 1.25rem;
    }

    /*

    FOOTER

    */
}






/* Desktop */


@media screen and (min-width:992px) {

    /*

    HEADER

    */

    .header-main-content .nav-container{
        display: block;
    }

    .header-main-content .hamburger-container{
        display: none;
    }

    .main-card-content{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        text-align: justify;
    }

    /*

    MAIN

    */    

    .main-card-content{
        display: flex;
    }

    .main-card-content > div{
        width: 50%;
    }

    .strategic-planning{
        padding: 3rem 9.375rem;
        align-items: flex-end;
    }

    .first-planning-box{
        width: 50%;
    }

    .second-planning-box{
        width: 50%;
    }

    
    main .second-section .container .strategic-planning div > img{
        width: 20rem;
        height: 20rem;
    }

    main .second-section .container .strategic-planning .second-planning-box > img{
        width: 12rem;
        height: 12rem;
    }

    .second-planning-box > h2{
        margin: .5rem 0;
    }

    main .second-section .container .strategic-planning .first-planning-box > h2{
        font-size: 1.875rem ;
        margin: 3.125rem 0;
    }

    .profiles-container{
        padding: 6.25rem;
    }

    main .second-section .benefits .cards{
        padding: 1.125rem;
        justify-content: space-around;
    }

    main .second-section .benefits .cards .card{
        width: calc((100% / 3) - 1.25rem);
    }


    /*

    FOOTER

    */
}





/*

DEBUG

*/

